<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <h1>Nearest MBTA Station to You!</h1>

    <h2>This is amazing app to help you find the nearest MBTA station and check whether it is wheelchair accessible or not.</h2>
    <form action="/nearest_mbta" method="post">
      <div>
        <label for="place">Location:</label>
        <input type="text" id="place" name="place" placeholder="Enter here..." />
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  
  </body>
</html>
